<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitherejoe.notifi">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".NotifiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.message.MessageActivity"
            android:label="@string/label_message" />

    </application>

</manifest>
